{% extends 'base.html' %}

{% block title %}
<a href="/" class="logo">
	<span class="symbol"><img src="/static/css/images/home.svg" alt="" /></span><span class="title"> 축산물 가격예측 서비스 </span>
</a>
<span class="logo"> | </span>
<span class="logo">
	<span class="title"> About Us </span>
	<span class="symbol"><img src="/static/css/images/logo2_chicken.png" alt="/static/css/images/logo2_chicken.png" style="size:2em"/></span>
	<span class="symbol"><img src="/static/css/images/logo2_cow.png" alt="/static/css/images/logo2_chicken.png" style="size:2em"/></span>
	<span class="symbol"><img src="/static/css/images/logo2_pig.png" alt="/static/css/images/logo2_chicken.png" style="size:2em"/></span>
	
</span>
{% endblock %}

{% block content %}
<div id="main">	s
	<div class="inner" style="margin-top: 40px">
		<hr>
		<h1 align="left" style="margin-bottom: 0.5em;"> 서비스 기획 배경 </h1>
		<span>
			코로나와 전쟁으로 인해 물가 상승이 이뤄지고 세계 경제 위기를 맞이하며, 식품 가격은 매일 변동되고 있습니다. 
특히, 질병과 기온에 취약한 축산물 가격은 매일 같이 변동하면서 축산물의 소비가 위축되는 경향을 보이면서 축산업계와 도매업체의 어려움이 시작되었습니다. 
그래서 소비자들에게 축산물 예상 가격을 제공하여, 소비자는 합리적인 소비를 할 수 있고 이로 인해 위축된 축산물 소비 신장을 이끌어 축산물과 도매업의 어려움을 해소하고자 AI 기반 서비스를 구현했습니다. 
		</span>
		<br>
		<br>
		<br>
		<h1 align="left" style="margin-bottom: 0.5em;"> 서비스 소개 </h1>
		<span>
			머신러닝/딥러닝 기반 축산물 가격 예측 모델
			실시간 데이터 수집, 자동 데이터 최신화, 최신화된 정보로 자동 학습 실시
			<br>
			facebook에서 개발한 시계열 모델 Prophet을 활용해, 가격 예측 모델 구현
			<br>
			평균 정확도 ~% 달성
			<br>
			사용자들이 축산물 가격 관련 정보를 쉽게 얻을 수 있는 서비스 만듦
			</span>
			<br>
			<br>
			<br>
		<h1 align="left" style="margin-bottom: 0.5em;"> <이용안내> </h1>
		<span>
			닭고기는 도매가격, 소와 돼지고기는 소비자 가격 예측을 실행함.<br>
			닭고기 가격의 경우, 조회하고 싶은 닭고기 호수를 선택하면 해당 예측 가격 그래프를 볼 수 있음<br>
			한 페이지에는 예측된 축산물 주별 가격과, 예측 가격의 그래프를 확인할 수 있음.<br>
			또한, 축산물 가격에 영향을 미치는 최근 기사 소식을 확인할 수 있음.<br>
			축산물 전염병의 최신 근황과 발생 지도를 확인하여, 축산물 가격 영향 정보를 한 페이지에서 볼 수 있음
		</span>
		
	</div>
</div>

<footer id="footer">	
	<div class="inner" style="margin-top: 0;">
		<section>
			<h2 style="letter-spacing: .2em;">출처</h2>
			<ul class="icons">
				<li><img src="/static/css/images/ref_logo_01.png" alt="ref_logo_01.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_02.png" alt="ref_logo_02.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_03.png" alt="ref_logo_03.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_04.png" alt="ref_logo_04.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_05.png" alt="ref_logo_05.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_06.png" alt="ref_logo_06.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_07.png" alt="ref_logo_07.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_08.png" alt="ref_logo_08.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_09.png" alt="ref_logo_09.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_10.png" alt="ref_logo_10.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_11.png" alt="ref_logo_11.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_12.png" alt="ref_logo_12.png" style="width:150px; height: 50px;"></li>
			</ul>
		</section>
	</div>
</footer>
<br>
{% endblock %}

