{% extends 'base.html' %}

{% block title %}
<a href="/" class="logo">
	<span class="symbol"><img src="/static/css/images/home.svg" alt="" /></span><span class="title"> 축산물 가격예측 서비스 </span>
</a>
<span class="logo"> | </span>
<span class="logo">
	<span class="title"> About Us </span>
</span>
{% endblock %}

{% block content %}
<div id="main">
	<div class="inner" style="margin-top: 40px">

	</div>
</div>
{% endblock %}

{% block footer %}
<footer id="footer">
	<div class="inner" style="margin-top: 0;">
		<section>
			<h2 style="letter-spacing: .2em;">출처</h2>
			<ul class="icons">
				<li><img src="/static/css/images/ref_logo_01.png" alt="ref_logo_01.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_02.png" alt="ref_logo_02.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_03.png" alt="ref_logo_03.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_04.png" alt="ref_logo_04.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_05.png" alt="ref_logo_05.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_06.png" alt="ref_logo_06.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_07.png" alt="ref_logo_07.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_08.png" alt="ref_logo_08.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_09.png" alt="ref_logo_09.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_10.png" alt="ref_logo_10.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_11.png" alt="ref_logo_11.png" style="width:150px; height: 50px;"></li>
				<li><img src="/static/css/images/ref_logo_12.png" alt="ref_logo_12.png" style="width:150px; height: 50px;"></li>
			</ul>
		</section>
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>한국품질재단 빅데이터 분석가 양성과정</li>
		</ul>
	</div>
</footer>
{% endblock %}