{% extends 'base.html' %}

{% block title %}
<a href="/" class="logo">
	<span class="symbol"><img src="/static/css/images/home.svg" alt="" /></span><span class="title"> 축산물 가격예측 서비스 </span>
</a>
{% endblock %}

{% block content %}
<div id="main">
	<div class="inner" style="margin-top: 40px">
		<section class="tiles" style="margin-top: 0;">
			<article class="style1">
				<span class="image">
					<img src="/static/css/images/logo_chicken.png" alt="" />
				</span>
				<a href="/chicken">
					<br><br><br><br><br><br><br>
					<h2>닭고기</h2>
					<p>다음주의 예상 닭고기 가격은 <br><b>{{chicken_price}}원</b>(/kg)입니다.</p>
					<div class="content">
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="/static/css/images/logo_cow.png" alt="" />
				</span>
				<a href="/cow">
					<br><br><br><br><br><br><br>
					<h2>소고기</h2>
					<p>다음주의 예상 소고기 가격은 <br><b>{{cow_price}}원</b>(/kg)입니다.</p>
					<div class="content">
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="/static/css/images/logo_pig.png" alt="" />
				</span>
				<a href="/pig">
					<br><br><br><br><br><br><br>
					<h2>돼지고기</h2>
					<p>다음주의 예상 돼지고기 가격은 <br><b>{{pork_price}}원</b>(/kg)입니다.</p>
					<div class="content">
					</div>
				</a>
			</article>

			<!-- <button onclick="location.href='/base_test2'" target='_blank'> 확인용 임시버튼 </button> -->
			
		</section>
	</div>
</div>
{% endblock %}

{% block footer %}
<footer id="footer">
	<div class="inner" style="margin-top: 0;">
		<!-- <section>
			<h2>References</h2>
			<ul class="icons">
				<li><a href="#"><img src="/static/css/images/ref_logo_01.png" alt="ref_logo_01.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_02.png" alt="ref_logo_02.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_03.png" alt="ref_logo_03.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_04.png" alt="ref_logo_04.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_05.png" alt="ref_logo_05.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_06.png" alt="ref_logo_06.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_07.png" alt="ref_logo_07.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_08.png" alt="ref_logo_08.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_09.png" alt="ref_logo_09.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_10.png" alt="ref_logo_10.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_11.png" alt="ref_logo_11.png" style="width:150px; height: 50px;"></a></li>
				<li><a href="#"><img src="/static/css/images/ref_logo_12.png" alt="ref_logo_12.png" style="width:150px; height: 50px;"></a></li>
			</ul>
		</section> -->
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>한국품질재단 빅데이터 분석가 양성과정</li>
		</ul>
	</div>
</footer>
{% endblock %}