<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>
<body>
<table>
{% for news in chickennews %}
    <tr>
        <a href="{{ news.url }}", target="_blank">{{ news.title }}</a><br>
    </tr>
{% endfor %}

{% for news in cownews %}
    <tr>
        <a href="{{ news.url }}">{{ news.title }}</a><br>
    </tr>
{% endfor %}

{% for news in porknews %}
    <tr>
        <a href="{{ news.url }}">{{ news.title }}</a><br>
    </tr>
{% endfor %}
</table>
<script>

</script>

</body>
</html>